snippet df
	display: flex;
	flex-direction: row | column;
	justify-content: space-around;
	align-items: center;

snippet ffs
	flex-start;
snippet ffe
	flex-end;
snippet fsb
	space-between;
snippet fsa
	space-around;
	space-between;

snippet $pt
	${props => ( props.theme.$1 )};
snippet $p
	${props => ( props.$1 ? props.$1 : $2 )};
