snippet //=
	// ==============================
	// ${1}
	// ==============================

snippet //-
	// ------------------------------
	// ${1}
	// ------------------------------

snippet p>
	const ${1} = (${2}) => new Promise( (resolve, reject) => {
		${3}
	})

snippet lo "console.log({obj})"
	console.log({ ${0} });
snippet lot "console.log({obj})"
	console.log({ '$1': $1 });

snippet /d
	// DELETEME
snippet /f
	// FIXME
snippet /t
	// TODO
