snippet rq

	const ${1} = require('${2}');

snippet vroute
	{
		path: '/${1}',
		name: '$1',
		component: resolve => require(['@/views/$1'], resolve),
	},

snippet me 
	module.exports = {
		${1}
	}

snippet //=
	// ==============================
	// ${1}
	// ==============================

snippet //-
	// ------------------------------
	// ${1}
	// ------------------------------

snippet p>
	const ${1} = (${2}) => new Promise( (resolve, reject) => {
		${3}
	})


